.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 1px 10px; /* Padding to make it taller */
    width: 100%; /* Make the navbar stretch across the full width of the page */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: serif;
    position: fixed; /* Optional: to make the navbar stick at the top */
    top: 0; /* Optional: to make it stick to the top of the page */
    left: 0; /* Optional: to make it stick to the left of the page */
}

.navbar-links li:last-child {
    margin-right: 20px; /* Add margin to the last link */
}


.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #ffdd57;
}
